.photo-grid {
  max-width: 1184px;
  margin: 92px auto 0;
  padding: 0 48px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(200px, 284px));
  
  grid-auto-rows: min(max(170.411px, calc((170.411/1024*100)*1vw)), 213px);
  gap: min(max(14px, calc((14/1024*100)*1vw)), 16px);
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc((928/1024*100)*1vw);
    min-width: 720px;
    margin: 92px auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(232px, 300px));
    grid-auto-rows: min(max(173px, calc((168.750041/768*100)*1vw)), 255px);
    gap: 1.367vw;
  }
}


@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc((720/768*100)*1vw);
    min-width: 0;
    margin: 88px min(max(21.25px, calc((21.25/425*100)*1vw)), 24px) 0;
    /* padding: 0 16px 0; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 45.8vw); */
    grid-template-columns: repeat(2, minmax(150px, 352px));
    grid-auto-rows: min(max(146.09px, calc((146.093796/425*100)*1vw)), 264px);
    gap: calc((16/768*100)*1vw);
  }
}


@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: calc((288/320*100)*1vw);
    margin: min(max(64px, calc((64/320*100)*1vw)), 88px) auto 0;
    justify-content: center;
    grid-template-columns: repeat(1, calc((288/320*100)*1vw));
    grid-auto-rows: min(max(216px, calc((216/320*100)*1vw)), 287px);
    gap: calc((12/320*100)*1vw);
  }

}