.lead {
  max-width: calc((984/1280*100)*1vw);
  min-width: 928px;
  margin: 0 auto;
  /* padding: 0 48px; */
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0;
    min-width: 0;
  }




}


@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    
  }

  
}



@media screen and (max-width: 670px) {





}



@media screen and (max-width: 425px) {



}