.cover__subtitle {
  
  margin: 0 auto 0;
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  
  z-index: 4;
}



@media screen and (max-width: 768px) {
  .cover__subtitle {
    /* margin-bottom: min(max(33px, calc((33/200*100)*1vh)), 115px); */
    max-width: min(max(288px, calc((288/320*100)*1vw)), 360px);
    font-size: min(max(14px, calc((14/320*100)*1vw)), 18px);
    line-height: 1.14;
  }
}


@media screen and (max-width: 425px) {
  .cover__subtitle {
    line-height: 16px;
  }
}

