.cover__subtitle {
  
  margin: 0 auto 0;
  padding-top: 32px;
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  
  z-index: 3;
}



@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: min(max(16px, calc((16/320*100)*1vw)), 32px) auto 0;
    padding-top: 0;
    max-width: min(max(288px, calc((288/320*100)*1vw)), 370px);
    font-size: min(max(14px, calc((14/320*100)*1vw)), 18px);
    line-height: 114%;
  }
}

