.header {
  max-width: 1184px;
  min-width: 720px;
  display: flex;
  margin: 0 auto min(max(48px, calc((48/1024*100)*1vw)), 56px);
  padding: 28px 48px 0;
  
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc((928/1024*100)*1vw);
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc((720/768*100)*1vw);
    min-width: 250px;
    padding: min(max(16px, calc((16/320*100)*1vw)), 28px) 21.25px 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: calc((288/320*100)*1vw);
    padding: min(max(16px, calc((16/320*100)*1vw)), 28px) 16px 0;
  }


}

