.lead__title {
  text-align: center;
  margin: 0 auto 32px;
  /* padding: 0 16px; */
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  
}




@media screen and (max-width: 768px) {
  .lead__title {
    font-size: min(max(40px, calc((40/320*100)*1vw)), 96px);
    width: min(max(288px, calc((288/320*100)*1vw)), 720px);
    margin: 1px auto 4.167vw;
    
  }

  
}



@media screen and (max-width: 425px) {
  .lead__title {
    
    line-height: 1.1;
    margin-top: 1px;
    margin-bottom: min(max(16px, calc((16/320*100)*1vw)), 32px);
  }


}