.place__paragraph {

  justify-self: start;
  margin: 0 auto 26px;
  max-width: 100%;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:last-of-type {
  margin-bottom: 0;
  
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    align-self: center;
  }

}

@media screen and (max-width: 670px) {
  .place__paragraph {
    width: auto;
    margin-left: min(max(21.25px, calc((21.25/425*100)*1vw)), 24px);
    margin-right: min(max(21.25px, calc((21.25/425*100)*1vw)), 24px);
    align-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    width: 90%;
    margin-left: min(max(16px, calc((16/320*100)*1vw)), 21.25px);
    margin-right: min(max(16px, calc((16/320*100)*1vw)), 21.25px);
  }
}






