
.cover {
  margin: 92px auto 92px;
  max-width: 1184px;
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-decoration: none;
  /* column-gap: 16px; */
  overflow: hidden;
  row-gap: 34px;
}



@media screen and (max-width: 768px) {
  .cover {
    margin: min(max(66px, calc((66/320*100)*1vw)), 88px) auto min(max(64px, calc((64/320*100)*1vw)), 88px);
    row-gap: min(max(16px, calc((16/320*100)*1vw)), 30px);
  }
}



