.footer {
  max-width: 1184px;
  
  display: flex;
  margin: 0 auto;
  padding: 0 0 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc((928/1024*100)*1vw);
    padding: 0 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc((720/768*100)*1vw);
    padding: 0 0 24px;
  }
}


@media screen and (max-width: 670px) {
  .footer {
    flex-direction: column;
    max-width: calc((288/320*100)*1vw);
    
  }
}