.place__website {
  max-width: 100%;
  align-self: flex-end;
  margin: 0 0 48px;

}

@media screen and (max-width: 670px) {
  .place__website {
    align-self: center;
    margin: 0 0 min(max(32px, calc((32/320*100)*1vw)), 48px);
    width: calc((768/768*100)*1vw);
    }
}



@media screen and (max-width: 425px) {
  .place__website {
    width: 100%;
  }
}